* {
    font-family: "Comfortaa", sans-serif;
  }
  
  .Aboutsection {
    background-color: black;
    padding-top: 100px;
  }
  
  .sectiontitle {
    color: #495057;
    font-size: 60px;
    margin: 0;
  }
  
  .abouttext {
    font-size: 20px;
    color: #ADB5BD;
    margin: 0;
  }
  
  .aboutimg {
    height: 500px;
    padding: 10px;
  }
  
  .textcolor {
    color: #F8F9FA;
  }
  
  .resumebtncontainer {
    padding-left: 1rem;
  }
  
  .resumebtn {
    padding: 10px;
    cursor: pointer;
    width: 160px;
    border-radius: 10px;
    margin-top: 10px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease, border-color 0.3s ease;
    color: rgb(0, 0, 0); /* Default text color */
    background-color: white; /* Default background */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s ease;
  }
  
  .resumebtn .icon {
    margin-left: 10px;
    transition: transform 0.3s ease;
  }
  
  .resumebtn:hover .icon {
    transform: translateX(5px);
  }
  
  @media only screen and (max-width: 576px) {
    .aboutimg {
      margin-top: 20px;
      height: 400px;
      display: flex;
    }

    .imgcontainer{
      display: flex;
      justify-content: flex-start;
    }
  
    .abouttext {
      font-size: 15px;
    }
  
    .sectiontitle {
      font-size: 30px;
    }
  
    .Aboutsection {
      background-color: black;
      padding-top: 30px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .aboutimg {
      margin-top: 20px;
      height: 450px;
      display: flex;
      text-align: center;
    }
  
    .abouttext {
      font-size: 15px;
    }
  
    .sectiontitle {
      font-size: 25px;
    }
  
    .Aboutsection {
      background-color: black;
      padding-top: 30px;
    }
  } 
  