.solid-bg {
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 0.5s ease;
}

.nav-link{
  color: white !important;
}


.transparent-bg {
  background-color: transparent;
  transition: background-color 0.5s ease;
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  margin-right: 10px;
}



/* Define the styles for the Navbar */
.navbar-custom {
  padding-left: 10% !important;
  padding-right: 10% !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.solid-bg {
  background-color: rgba(0, 0, 0, 0.8);
}

.transparent-bg {
  background-color: transparent;
}

.sticky {
  position: fixed !important;
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar-toggler {
  margin-left: auto;
}

.navbar-toggler-icon{
  background-image: url("../Assests/hamburger.svg" ) !important; 
}

.navbar-toggler{
  border: none !important;
}

/* Adjust padding for smaller screens */
@media (max-width: 768px) {
  .navbar-custom {
   padding: auto;
  }

  .navbar-toggler-icon {
    color: white !important;
  }

}


