.transparent-bg {
    background-color: transparent !important;
  }
  
  .solid-bg {
    background-color: #000000 !important; /* Change to your desired solid color */
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  /* Header.css */
.nav-link.active {
  border-bottom: 2px solid #fff;
  transition: border-bottom 0.3s ease;
}
